<%- include('template/cabecera')%>

    <body class="contenedor">
        
        <%- include('template/header')%>

        <div class="cuerpo">
            <div class="subcuerpo-uno">
                <h1 class="contenido">¿Como te podemos ayudar?</h1>
            </div>
            <div class="preguntas">
                <dl>
                    <dt>Ayuda con mi cuenta</dt>
                    <dd>
                        <a href="">Inicio de sesion</a>
                    </dd>
                    <dd>
                        <a href="">Ayuda con mi perfil</a>
                    </dd>
                    <dd>
                        <a href="">Ayuda con la configuracion</a>
                    </dd>
                    <dd>
                        <a href="">Seguridad</a>
                    </dd>
                </dl>
                <dl>
                    <dt>Ayuda con la aplicacion</dt>
                    <dd>
                        <a href="">Comenzar a usar SpotiNico</a>
                    </dd>
                    <dd>
                        <a href="">Configuracion de la aplicacion</a>
                    </dd>
                    <dd>
                        <a href="">Solucion de problemas</a>
                    </dd>
                    <dd>
                        <a href="">Playlist</a>
                    </dd>
                    <dd>
                        <a href="">Funciones</a>
                    </dd>
                    <dd>
                        <a href="">Funciones sociales</a>
                    </dd>
                    <dd>
                        <a href="">Asistentes de voz</a>
                    </dd>
                </dl>
                <dl>
                    <dt>Ayuda con un dispositivo</dt>
                    <dd>
                        <a href="">Altavoces</a>
                    </dd>
                    <dd>
                        <a href="">Relojes inteligentes</a>
                    </dd>
                    <dd>
                        <a href="">Televisores</a>
                    </dd>
                    <dd>
                        <a href="">Autos</a>
                    </dd>
                </dl>
                <dl>
                    <dt>Ayuda con los datos y la privacidad</dt>
                    <dd>
                        <a href="">Privacidad de reproduccion</a>
                    </dd>
                    <dd>
                        <a href="">Informacion de datos y privacidad</a>
                    </dd>
                </dl>
            </div>
        </div>
        
        <%- include('template/footer')%>

        <script src="codigo.js"></script>
    </body>

</html>