<%- include('template/cabecera')%>

    <body class="contenedor">
        
        <%- include('template/header')%>

        <div class="cuerpo">
            <article class="articulo">
                
                <h1 class="contenido">Escucha tu musica favorita</h1>
                <h2 class="contenido">Todas tus canciones personalizadas para tu dispositivo</h2>
                
                <p class="contenido">aask;ljfsal;kdfjas;kdfj;klsdjfas;lkdjfsdlkfjdslfjaldfkjsa;lkjfsl;dkfjas;l</p>
        
            </article>  
        </div>
        
        <%- include('template/footer')%>

        <script src="codigo.js"></script>
    </body>

</html>