<%- include('template/cabecera')%>
        
<%- include('template/header')%>

    <div class="cuerpo">
            
        <h1 class="contenido"><%= arrayMascotas %> </h1>
        
    </div>
    
<%- include('template/footer')%>