<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="esta es mi primer pagina web"/>
        <meta name="author" content="Nico DyJ"/>
        <meta name="keywords" content="primer pagina web, pagina web, musica"/>
        
        <title>SpotyNico - <%= titulo %></title>

        <link rel="stylesheet" href="/estilos.css"/>
    </head>

    <body class="contenedor">