<footer class="pie">
    <nav class="navegador-pie">
        <div class="icono">
            <img src="/images/escudoDyj.png">
        </div>
        <div class="links">
            <dl>
                <dt>EMPRESA</dt>
                <dd>
                    <a href="/">Acerca de</a>
                </dd>
                <dd>
                    <a href="/">Empleo</a>
                </dd>
                <dd>
                    <a href="/">For the record</a>
                </dd>
            </dl>
            <dl>
                <dt>COMUNIDADES</dt>
                <dd>
                    <a href="/">Para artistas</a>
                </dd>
                <dd>
                    <a href="/">Desarrolladores</a>
                </dd>
                <dd>
                    <a href="/">Publicidad</a>
                </dd>
                <dd>
                    <a href="/">Inversionistas</a>
                </dd>
                <dd>
                    <a href="/">Proveedores</a>
                </dd>
            </dl>
            <dl>
                <dt>ENLACES UTILES</dt>
                <dd>
                    <a href="/">Ayuda</a>
                </dd>
                <dd>
                    <a href="/">Reproductor web</a>
                </dd>
                <dd>
                    <a href="/">App movil gratis</a>
                </dd>
            </dl>
        </div>
        <div class="redes-sociales">

        </div>
        <div class="botones-finales">
            <ul>
                <li>
                    <a href="/">Legal</a>
                </li>
                <li>
                    <a href="/">Centro de privacidad</a>
                </li>
                <li>
                    <a href="/">Politica de privacidad</a>
                </li>
                <li>
                    <a href="/">Cookies</a>
                </li>
                <li>
                    <a href="/">Sobre los anuncios</a>
                </li>
            </ul>
            <p class="ultimo">Todos los derechos reservados</p>
        </div>
    </nav>
</footer>