<header class="cabecera">
    <div class="contenedor-cabecera">
        <div class="banner">
            <a href="/">
                SpotyNico
            </a>
        </div>
        <nav class="navegador">
            <ul class="menu">
                <li class="item-menu">
                    <a href="/ayuda/">Ayuda</a>
                </li>
                <li class="item-menu">
                    <a href="/">Registrate</a>
                </li>
                <li class="item-menu">
                    <a href="/">Iniciar sesion</a>
                </li>
            </ul>
        </nav>
    </div>
</header>